{% extends 'pokedex/base.html' %}
{% load static %}
{% block content %}



<div class="container">
    <div style="float:right ;">

        <p style="color: white;">
            contenido
        </p>

    </div>


    <div class="row">


{% for unidad in poke_lista %}
    <div class="col-md-3">
        <div class="card" style="width: 100%;margin: 5px 5px;">
            <img src="{{unidad.imagen.url}}" class="card-img-top" >
            <div class="card-body" style="text-align: left;">

                <h4 class="card-title" style="text-align: center;">{{unidad.nombre}}</h4>
                <p class="card-text">{{unidad.descripcion}}</p>
                <p class="card-text">estadisticas: {{unidad.estadisticas}}</p>
                <p class="card-text">tipo:{{unidad.tipo}}</p>
                <p class="card-text">{{unidad.peso}}kg</p>



            </div>
            <div class="card-footer text-center">

                <a href="#" class"btn btn-success">

                        Agregar al grupo

                </a>


            </div>



        </div>


    </div>









{% endfor %}
    </div>
</div>
{% endblock %}