{% extends 'pokedex/base.html' %}
{% load static %}
{% block content %}



{% for unidad in poke_lista %}
    
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" img src="{{unidad.imagen.url}}" alt="" style="width: 50%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper"></span>
            <span class="section-heading-lower">{{unidad.nombre}}</span>
          </h2>
          <p class="mb-3">{{unidad.descripcion}}
          </p>
          <div style= "text-align: left; font-size: 0.8em;">
           <p> tipo:{{unidad.tipo}}</p>
           <p>estadisticas: {{unidad.estadisticas.atk}}atk &nbsp; {{unidad.estadisticas.defen}}def &nbsp; {{unidad.estadisticas.spp}}spp &nbsp;</p>
            <p>peso:{{unidad.peso}}kg</p>
        
        
        </div>
         
        </div>
      </div>
    </div>
  </section>



{% endfor %}

{% endblock %}